<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TF Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<th:block th:replace="~{common/header.html}"></th:block>

<main>
    <section class="hero">
        <div class="row gy-5">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h2>TF Team</h2>
                <p>실시간 영상으로 의류 객체를 탐지하여 실내 온도 조절 하는 시스템을 개발하고자 함.</p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img th:src="@{/img/computer.png}" alt="컴퓨터 이미지" class="img-fluid">
            </div>
        </div>

        <div class="menu-container">
        <div class="row gy-4 mt-5">
            <a href="/tf/ai" class="col-md-6 col-lg-3">
                <div class="service-box">
                    <img th:src="@{/img/free-icon-live-streaming-15260166.png}"height="70">
                    <h3>Streaming</h3>
                  <!--  <p>실시간 영상</p> -->
                </div>
            </a>

            <a href="/tf/fashionStream" class="col-md-6 col-lg-3">
                <div class="service-box">
                    <img th:src="@{/img/free-icon-clothing-5208370.png}"height="70">
                    <h3>Clothes Streaming</h3>
                   <!-- <p>실시간으로 의류 영상 탐지 영상</p> -->
                </div>
            </a>
            <a href="/tf/statistics" class="col-md-6 col-lg-3">
                <div class="service-box">
                    <img th:src="@{/img/free-icon-statistics-4064965.png}"height="70">
                    <h3>데이터 분석 및 통계</h3>
                    <!-- <p>시간대별 의류 감지 데이터</p> -->
                   <!-- <p>계절별 패턴 분석 위한 차트</p> -->
                </div>
            </a>
            <a href="#" class="col-md-6 col-lg-3">
                <div class="service-box">
                    <img th:src="@{/img/free-icon-settings-6704985.png}"height="64">
                    <h3>설정</h3>
                   <!-- <p>Model Upgrade</p> -->
                   <!-- <p>자동, 수동 조절 선택 기능</p> -->
                </div>
            </a>
        </div>
        </div>
    </section>

    <section class="services-header text-center">
        <a href="ai" class="btn btn-services">Example</a>
        <h2>예제 <span style="color: #28a745;"> 섹션 </span></h2>
    </section>



</main>

<th:block th:replace="~{common/footer.html}"></th:block>
</body>
</html>